:root {
  /*gray*/
  --gray-1: #333333;
  --gray-2: #666666;
  --gray-3: #999999;
  --gray-4: #cccccc;
  --gray-5: #f2f2f2;

  --red-1: #d43031;

  --white: #ffffff;
  --black: #000000;

  --accent: #ff4d01ff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
  /*font-family: "Roboto Slab", sans-serif;*/
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16pt;
  color: var(--gray-1);
}

body {
  display: grid;
  grid-template-columns: 1fr;
}
