:root {
  /*gray*/
  --gray-1: #333333;
  --gray-2: #666666;
  --gray-3: #999999;
  --gray-4: #cccccc;
  --gray-5: #f2f2f2;

  --red-1: #d43031;

  --white: #ffffff;
  --black: #000000;

  --accent: #ff4d01ff;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  touch-action: manipulation;
  /*font-family: "Roboto Slab", sans-serif;*/
  font-family: "Amatic SC", sans-serif;
  font-size: 16pt;
  color: var(--gray-1);
}

body {
  display: grid;
  grid-template-columns: 1fr;
}

/* amatic-sc-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/amatic-sc-v24-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* amatic-sc-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Amatic SC";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/amatic-sc-v24-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
